# tuple
- ### think of it as a row in a database
- ### records

In [1]:
t = ('AA', '2011-06-07', 100, 32.2)

In [2]:
len(t)

4

In [3]:
t[0]

'AA'

In [4]:
t[1]

'2011-06-07'

In [5]:
t[2]*t[3]

3220.0000000000005

### unpacking tuple

In [9]:
name, date, shares, price = t

In [10]:
name

'AA'

In [11]:
date

'2011-06-07'

In [12]:
name, *ignore, price = t

In [13]:
name

'AA'

In [14]:
ignore

['2011-06-07', 100]

In [15]:
price

32.2

## immutable

In [17]:
t[0]

'AA'

In [18]:
t[0] = 'IBM'

TypeError: 'tuple' object does not support item assignment

# list
- ### all of the items are the same type

In [19]:
names = ['IBM', 'YHOO', 'AA', 'CAT']

In [20]:
len(names)

4

In [21]:
names[1]

'YHOO'

In [22]:
names

['IBM', 'YHOO', 'AA', 'CAT']

In [23]:
names.append('IBM')

In [24]:
names

['IBM', 'YHOO', 'AA', 'CAT', 'IBM']

In [25]:
names.insert(1, 'FB')

In [26]:
names

['IBM', 'FB', 'YHOO', 'AA', 'CAT', 'IBM']

In [27]:
names[2] = 'HPE'

In [28]:
names

['IBM', 'FB', 'HPE', 'AA', 'CAT', 'IBM']

In [29]:
nums = [45, 13, 20, 17]

In [30]:
nums

[45, 13, 20, 17]

# set
- ### unique values

In [31]:
distinct_names = {'YHOO', 'IBM', 'MSFT', 'IBM', 'YHOO', 'AA', 'CAT', 'IBM'}

In [32]:
distinct_names

{'AA', 'CAT', 'IBM', 'MSFT', 'YHOO'}

In [33]:
names

['IBM', 'FB', 'HPE', 'AA', 'CAT', 'IBM']

In [34]:
set(names)

{'AA', 'CAT', 'FB', 'HPE', 'IBM'}

In [35]:
'AA' in distinct_names

True

In [36]:
'JJ' in distinct_names

False

In [37]:
distinct_names

{'AA', 'CAT', 'IBM', 'MSFT', 'YHOO'}

# dictionary
- ### key mapping

In [39]:
prices = {
    'IBM': 91.2,
    'MSFT': 45.23,
    'AA': 32.4,
    'YHOO': 9.23
}

In [40]:
prices['IBM']

91.2

In [41]:
prices['AA']

32.4

In [42]:
prices['YHOO']

9.23

In [43]:
prices

{'IBM': 91.2, 'MSFT': 45.23, 'AA': 32.4, 'YHOO': 9.23}

In [44]:
prices['IBM'] = 87.23

In [45]:
prices

{'IBM': 87.23, 'MSFT': 45.23, 'AA': 32.4, 'YHOO': 9.23}

In [46]:
'IBM' in prices

True

In [47]:
'JJ' in prices

False

# combine

In [48]:
items = [('AA', 100, 32.2), ('MSFT', 50, 91.2)]

In [49]:
prices = {
    'IBM': {'current': 91.23, 'high': 94.23, 'low': 91.05}
}

In [50]:
prices['IBM']

{'current': 91.23, 'high': 94.23, 'low': 91.05}

In [51]:
prices['IBM']['low']

91.05

In [52]:
prices['IBM']['current']

91.23